CONFIG_DEFAULT_MODULES_DIR="/lib/modules"
# DHCP clients and per-interface servers require working pidfiles.
CONFIG_FEATURE_PIDFILE=y
CONFIG_PID_FILE_PATH="/run"
CONFIG_FEATURE_SWAPON_PRI=y
CONFIG_FEATURE_SEAMLESS_GZ=y
CONFIG_FEATURE_TAR_AUTODETECT=y

# wg-quick checks configuration permissions with stat -c.
CONFIG_FEATURE_STAT_FORMAT=y
