BR2_riscv=y
BR2_riscv_g=y
BR2_RISCV_64=y
BR2_RISCV_ISA_RVC=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="7.2.5"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_7_1=y
BR2_GCC_VERSION_16_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_OPTIMIZE_2=y
BR2_REPRODUCIBLE=y
BR2_CCACHE=y
BR2_TARGET_OPTIMIZATION="-march=rv64gc_xtheadba_xtheadbb_xtheadbs_xtheadcmo_xtheadcondmov_xtheadfmemidx_xtheadfmv_xtheadint_xtheadmac_xtheadmemidx_xtheadmempair_xtheadsync_xtheadvector -mtune=thead-c906 -mno-fence-tso"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_NANOKVM_PATH)/patches"
BR2_BINUTILS_VERSION_2_47_X=y
# Separate source build for optional APK payload export, no board/application stage.
BR2_PACKAGE_MC=y
BR2_PACKAGE_NKOS_SUPERFILE=y
BR2_PACKAGE_NANO=y
# BR2_PACKAGE_NANO_TINY is not set
BR2_PACKAGE_NCURSES_WCHAR=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ5_UTILS_MONITOR=y
BR2_PACKAGE_BLUEZ5_UTILS_TOOLS=y
BR2_PACKAGE_BLUEZ5_UTILS_PLUGINS_HID=y
BR2_PACKAGE_NANOKVM_OPTIONAL_TOOLS_LAYOUT=y
# BR2_TARGET_ROOTFS_TAR is not set
